<!-- MASTER CHARACTER LIST -->
<div class="col-sm-3" id="characterList" ng-controller="CharacterlistCtrl">
	<input type="text" ng-model="charName" placeholder="search" class="form-control" />
	<div class="loading" ng-show="loading"><span class="fa fa-circle-o-notch fa-spin"></span> Loading... </div>
	<ul id="characterList" class="list-unstyled">
		<li ng-repeat="char in characters | filter: charName | orderBy:'title'">
		<!-- <li ng-repeat="char in characters"> -->
			<div class="row character {{char.actor}}" role="group">
				<div class="col-xs-2 bubble">
					<span class="fa fa-circle fa-stack-2x"></span>
					<span class="fa fa-stack-1x circle-letter">{{char.actorInitial}}</span>
				</div>
				<a class="col-xs-8 text-left  character-link" ng-click="edit(char)">{{char.title}}</a>
				<a class="col-xs-2 text-center character-call" ng-click="goLive(char)"><span class="fa fa-phone text-success"></span></a>
			</div>
		</li>
	</ul>
</div>

<!-- EDIT CHARACTER -->
<div class="col-sm-6 bg-alt" id="editCharacter" ng-controller="CharacterCtrl">
	<!-- <form id="editCharacter" ng-if="editing.length > 0"> -->
		<section class="row">
			<div class="col-xs-12">
				<h2>
					Character Info
					<small>
						<button class="btn btn-link" ng-click="newChar()"><span class="fa fa-plus"></span> New Character</button>
						<span ng-show="loading"><span class="fa fa-circle-o-notch fa-spin"></span> Loading Character...</span>
					</small>
				</h2>
				<input type="text" id="name" placeholder="name" class="form-control" ng-model="editing.name" />
				<input type="text" id="characteristics" placeholder="characteristics" class="form-control" ng-model="editing.characteristics" />
				<input type="text" id="voice" placeholder="voice" class="form-control" ng-model="editing.voice" />
				<select name="actor" id="actor" ng-model="editing.actor" class="form-control">
					<option value="Brad" >Brad </option>
					<option value="Derek">Derek</option>
					<option value="Jared">Jared</option>
				</select>
			</div>
		</section>

		<!-- Relationship List -->
		<section class="row">
				<h3 class="col-xs-12">Relationships</h3>
			<div class="col-xs-12 col-md-6">
				<!-- <ul id="relationships" class="list-unstyled"> -->
					<select class="form-control" name="new-relationship" id="new-relationship" ng-model="relationshipStatus">
	             		<option value="">Select a dynamic</option>
						<option value="Friends">Friends</option>
						<option>Enemies</option>
						<option>Lovers</option>
						<option>Ex-Lovers</option>
						<option>Family</option>
						<option>Works With/For</option>
					</select>
					
					<input type="text" class="form-control" ng-model="charFilter" placeholder="Filter Characters">
	             	<select multiple ng-model="relationshipCharacters" class="form-control">
	             		<option ng-repeat="char in characters | filter: charFilter">{{char.title}}</option>
	             	</select>

					<button class="btn btn-primary" ng-click="addTo('relationships', {relationshipStatus: relationshipStatus, character: relationshipCharacters})"  ng-class="{'disabled': !relationshipCharacters}"><span class="fa fa-plus"></span></button>
			</div>
			<div class="col-xs-12 col-md-6">
			<ul id="relationships" class="list-unstyled">
					<li ng-repeat="item in editing.relationships">
						<span ng-bind-html="toHTML(item.icon)"></span>
						{{item.character}}
						<button class="btn btn-link text-danger" ng-click="removeFromList('relationships', item)"><span class="fa fa-times"></span></button>
					</li>			
				</ul>				
			</div>
		</section>

		<!-- Story Points -->
		<div class="row">
			<h3 class="col-xs-12">Story Points</h3>
			<div class="col-xs-12 col-md-6">
				<textarea name="" id="" cols="30" rows="10" class="form-control" ng-model="storyPoint"></textarea>
				<button class="btn btn-primary" ng-click="addTo('history', storyPoint)"
						ng-class="{'disabled': !storyPoint}">
					<span class="fa fa-plus"></span></button>
			</div>
			<ul id="history" class="col-xs-12 col-md-6">
				<li ng-repeat="item in editing.history">
					{{item}}
					<button class="btn btn-link text-danger" ng-click="removeFromList('history', item)"><span class="fa fa-times"></span></button>
				</li>
			</ul>
		</div>

		<!-- Appears In -->
		<div class="row">
			<h3 class="col-xs-12">Appears In</h3>
			<div class="col-xs-12 col-md-6">
				<input type="text" class="form-control" ng-model="epFilter" placeholder="Filter Characters">
	         	<select multiple ng-model="selectedEpisodes" class="form-control">
	         		<option ng-repeat="ep in episodes | filter: epFilter">{{ep.title}}</option>
	         	</select>

				<button class="btn btn-primary" ng-click="addTo('episodes', selectedEpisodes)"  ng-class="{'disabled': !selectedEpisodes}"><span class="fa fa-plus"></span></button>
			</div>

			<ul id="episodes" class="col-xs-12 col-md-6">
				<li ng-repeat="item in editing.episodes">
					{{item}}
					<button class="btn btn-link text-danger" ng-click="removeFromList('episodes', item)"><span class="fa fa-times"></span></button>
				</li>
			</ul>
		</div>

		
		<div class="row">
			<div class="col-xs-6 col-sm-4">
				<button class="btn btn-default" ng-click="save(editing)"><span class="fa fa-circle-o-notch fa-spin" ng-show="saving"></span> {{cta}} {{ editing.name || '' }}</button>
				<span ng-show="refreshing"><span class="fa fa-circle-o-notch fa-spin"></span> Refreshing List...</span>			
			</div>
		</div>

	<!-- </form> -->
</div>

<!-- CALLER LIST -->
<div class="col-sm-3" id="callerList" ng-controller="CallersCtrl">
	<ul id="callerList" class="list-unstyled">
		<li ng-repeat="char in callers">
		<!-- <li ng-repeat="char in characters"> -->
			<div class="row character {{char.actor}}" role="group">
				<a class="col-xs-10 text-left" ng-click="onAir(char)" ng-class="char.live ? 'chararacter-live' : 'character-waiting'">
				<!-- <a class="col-xs-10 text-left chararacter-live" ng-click="onAir(char)"> -->
					{{char.title}}</a>
				<a class="col-xs-2 text-center character-hangup" ng-click="hangUp(char)"><span class="fa fa-times"></span></a>
			</div>
		</li>
	</ul>
</div>
